.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.skew-transform {
  transform: skewX(-30deg);
  margin-bottom: 1rem;
  box-shadow: 5px 8px 8px 0 black;
  width: 55%;
}

.skew-transform p{
  transform: skewX(30deg);
}

.unlock-transform {
  transform: skewX(-30deg);
  margin-bottom: 1rem;
  box-shadow: 5px 8px 8px 0 black;
  width: 80%;
}

.unlock-transform p{
  transform: skewX(30deg);
}

#buyAmount {
  /* margin-top: 13rem; */
  margin-bottom: 1rem;
  width: 60%;
}

.text-copyright {
  font-size: 18px;
}

.social-icons a:hover {
  background-color: rgb(0 0 0);
}

ul.wallet-list {
  left: -30px;
}

#subcribe-btn {
  border-radius: 106px 0px 99px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  #decks {
    flex-direction: column;
  }

  .email-subscribe-panel {
    width: 60%;
  }
}

@media (max-width: 1280px) {
  #unlock-info {
    width: 60%;
  }

  .text-copyright {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  #unlock-info {
    width: 80%;
  }

  .text-copyright {
    font-size: 10px;
  }

  .email-subscribe-panel {
    width: 60%;
  }

  #form-field-email{
    width: 100%;
  }

  #subcribe-btn {
    width: 80%;
  }

  .unlock-transform {
    width: 100%;
  }
}